NodeRed/.flows.json.backup
[
    {
        "id": "bf283ad4cf60086f",
        "type": "tab",
        "label": "Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bfc880c45abbde98",
        "type": "sqlitedb",
        "db": "C:\\Users\\Areal\\Documents\\GitHub\\TP1-ISI-Spotify\\data\\output\\TP1-ISI-Spotify.db",
        "mode": "RO"
    },
    {
        "id": "016c25323c6a9ebe",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "ce31318209e8312f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#008040",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "53d75b9b07c94b8c",
        "type": "ui-page",
        "name": "Popularidade de artistas e álbuns",
        "ui": "016c25323c6a9ebe",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "ce31318209e8312f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bb3ec38dd8362023",
        "type": "ui-group",
        "name": "Group 1",
        "page": "53d75b9b07c94b8c",
        "width": "6",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0e54332d3cc9f9d2",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-sqlite": "1.1.1",
            "@flowfuse/node-red-dashboard": "1.29.0"
        }
    },
    {
        "id": "3c0b572e1d5dc8c3",
        "type": "ui-group",
        "name": "Group 2",
        "page": "53d75b9b07c94b8c",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "64e12a5f9c1416bd",
        "type": "ui-page",
        "name": "Estatísticas de Géneros Musicais",
        "ui": "016c25323c6a9ebe",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "ce31318209e8312f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "26c1fd6ec37b5397",
        "type": "ui-group",
        "name": "Group 1",
        "page": "64e12a5f9c1416bd",
        "width": "5",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0e8cce8dd10ee1a0",
        "type": "ui-group",
        "name": "Group 2",
        "page": "64e12a5f9c1416bd",
        "width": "5",
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d0fdf9073f835730",
        "type": "ui-group",
        "name": "Group 3",
        "page": "64e12a5f9c1416bd",
        "width": "5",
        "height": 1,
        "order": 4,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a48eeb7778e046c6",
        "type": "ui-page",
        "name": "Artistas, álbuns e músicas",
        "ui": "016c25323c6a9ebe",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "ce31318209e8312f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d6b9849b1523bbd4",
        "type": "ui-group",
        "name": "Group Artistas",
        "page": "a48eeb7778e046c6",
        "width": "4",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab0f4d3228b4e7a1",
        "type": "ui-group",
        "name": "Group Albuns",
        "page": "a48eeb7778e046c6",
        "width": "4",
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a4bf936feb75172a",
        "type": "ui-group",
        "name": "Group Músicas",
        "page": "a48eeb7778e046c6",
        "width": "4",
        "height": 1,
        "order": 3,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "424023ef7054c83f",
        "type": "ui-page",
        "name": "Estatísticas de Músicas",
        "ui": "016c25323c6a9ebe",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "ce31318209e8312f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "fa434e8df39d1e36",
        "type": "ui-group",
        "name": "Group 1",
        "page": "424023ef7054c83f",
        "width": "5",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e65461a18ea595ba",
        "type": "ui-group",
        "name": "Group 2",
        "page": "424023ef7054c83f",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f0cecd37bd1aaf17",
        "type": "ui-group",
        "name": "Group Search",
        "page": "64e12a5f9c1416bd",
        "width": "10",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ba9d94c4931f4bc0",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "SELECT name, popularity FROM artists ORDER BY popularity DESC;",
        "name": "ExecutarQuery",
        "x": 1280,
        "y": 500,
        "wires": [
            [
                "7ac43b633bf44276"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "1f68a7ba36e22b2d",
        "type": "inject",
        "z": "bf283ad4cf60086f",
        "name": "SetDefaultDropdown",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "artistas",
        "payloadType": "str",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "c7161e08edbd3021"
            ]
        ]
    },
    {
        "id": "7ac43b633bf44276",
        "type": "ui-table",
        "z": "bf283ad4cf60086f",
        "group": "bb3ec38dd8362023",
        "name": "TabelaInfo",
        "label": "",
        "order": 2,
        "width": "6",
        "height": "1",
        "maxrows": "10",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "Rank",
                "key": "rank",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Nome",
                "key": "name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Popularidade",
                "key": "popularity",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1450,
        "y": 500,
        "wires": [
            [
                "35d47b9c612bb024",
                "b602a70adc13b3fc"
            ]
        ]
    },
    {
        "id": "e29af8a1174c7db8",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "mudar_dropdown",
        "func": "let queries = flow.get(\"dropdownqueries\");\nlet key = msg.payload;\n\nlet query = queries[key];\nmsg.topic = query;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 500,
        "wires": [
            [
                "ba9d94c4931f4bc0"
            ]
        ]
    },
    {
        "id": "c7161e08edbd3021",
        "type": "change",
        "z": "bf283ad4cf60086f",
        "name": "SetFlowQueries",
        "rules": [
            {
                "t": "set",
                "p": "dropdownqueries",
                "pt": "flow",
                "to": "{\"artistas\":\"SELECT id, ROW_NUMBER() OVER (ORDER BY popularity DESC) as rank, name, popularity, image_url, followers FROM artists ORDER BY popularity DESC\",\"albuns\":\"SELECT a.id, ROW_NUMBER() OVER (ORDER BY a.popularity DESC) as rank, a.name, a.popularity, a.image_url, b.name as artist_name FROM albums a JOIN artists b on a.artist_id = b.id ORDER BY a.popularity DESC\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 440,
        "wires": [
            [
                "d672038945b865c2",
                "5c89b1c602ae797e",
                "0a8476ece5f1a790",
                "dbc4072cbda469e6",
                "49672c95bc1906b9",
                "39233bef12e4151d"
            ]
        ]
    },
    {
        "id": "35d47b9c612bb024",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "extrair_image_url",
        "func": "msg.payload = msg.payload.image_url;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 580,
        "wires": [
            [
                "be530d14a491ec68"
            ]
        ]
    },
    {
        "id": "be530d14a491ec68",
        "type": "ui-template",
        "z": "bf283ad4cf60086f",
        "group": "3c0b572e1d5dc8c3",
        "page": "",
        "ui": "",
        "name": "Imagem",
        "order": 2,
        "width": "4",
        "height": "6",
        "head": "",
        "format": "<v-img v-if=\"msg.payload\" :src=\"msg.payload\" contain ></v-img> <v-alert v-else type=\"info\" outlined> Clique numa linha para ver a imagem </v-alert>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1900,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b678a7a42126b706",
        "type": "ui-text",
        "z": "bf283ad4cf60086f",
        "group": "3c0b572e1d5dc8c3",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "Texto",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1890,
        "y": 500,
        "wires": []
    },
    {
        "id": "b602a70adc13b3fc",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "extrair_nome_ou_followers",
        "func": "if (msg.payload && msg.payload.artist_name) {\n    msg.payload = msg.payload.artist_name;\n} else {\n\n    if (msg.payload && msg.payload.followers) {\n        msg.payload = \"Seguidores: \" + msg.payload.followers;\n    } else {\n        msg.payload = \"\"; \n    }\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 500,
        "wires": [
            [
                "b678a7a42126b706"
            ]
        ]
    },
    {
        "id": "21d86c0afc4ac349",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "SELECT g.genre,\nROUND(AVG(t.popularity),2) as avg_popularity\nFROM tracks t JOIN\nalbums a ON t.album_id = a.id\nJOIN artists ar ON a.artist_id = ar.id\nJOIN artist_genres g ON ar.id = g.id\nWHERE t.popularity IS NOT NULL\nGROUP BY g.genre\nORDER BY AVG(t.popularity) DESC\nLIMIT 10",
        "name": "AvgGeneroPopularidade",
        "x": 1650,
        "y": 860,
        "wires": [
            [
                "c28dabe1624baf38"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "c28dabe1624baf38",
        "type": "ui-chart",
        "z": "bf283ad4cf60086f",
        "group": "26c1fd6ec37b5397",
        "name": "",
        "label": "Popularidade média de Géneros Músicais",
        "order": 1,
        "chartType": "bar",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Géneros",
        "xAxisProperty": "genre",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Popularidade Média",
        "yAxisProperty": "avg_popularity",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#000000"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "5",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1940,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "ea97c4892a67cd11",
        "type": "ui-chart",
        "z": "bf283ad4cf60086f",
        "group": "0e8cce8dd10ee1a0",
        "name": "",
        "label": "Popularidade média por género ao longo dos meses",
        "order": 1,
        "chartType": "line",
        "category": "genre",
        "categoryType": "property",
        "xAxisLabel": "Tempo (Ano-Mês)",
        "xAxisProperty": "release_month",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Popularidade Média",
        "yAxisProperty": "avg_popularity",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#000000"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "5",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 2040,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d672038945b865c2",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "fixed",
        "sql": "SELECT DISTINCT genre\nFROM artist_genres ORDER BY genre",
        "name": "GetGeneros",
        "x": 810,
        "y": 880,
        "wires": [
            [
                "e46d2fcc059060bb"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "bc2d850805c8aecf",
        "type": "ui-dropdown",
        "z": "bf283ad4cf60086f",
        "group": "f0cecd37bd1aaf17",
        "name": "DropdownGeneros",
        "label": "Filtro de géneros",
        "tooltip": "",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "multiple": true,
        "chips": false,
        "clearable": true,
        "options": [],
        "payload": "",
        "topic": "options",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 1230,
        "y": 880,
        "wires": [
            [
                "5c795fcf987b3e70",
                "a4c334ec0802f7b1"
            ]
        ]
    },
    {
        "id": "5c795fcf987b3e70",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "montar_query",
        "func": "// --- Recebe géneros selecionados da dropdown ---\nlet genres = msg.payload;\n\n// Garante que é sempre um array\nif (!Array.isArray(genres)) {\n    genres = [genres];\n}\n\n// Se nenhum género for selecionado → mostra todos\nif (genres.length === 0) {\n    node.warn(\"Nenhum género selecionado — mostrando todos os géneros.\");\n\n    msg.topic = `\n        SELECT \n          strftime('%Y-%m', a.release_date) AS release_month,\n          ROUND(AVG(t.popularity),2) AS avg_popularity,\n          g.genre\n        FROM tracks t\n        JOIN albums a ON t.album_id = a.id\n        JOIN artists ar ON a.artist_id = ar.id\n        JOIN artist_genres g ON ar.id = g.id\n        WHERE t.popularity IS NOT NULL\n        GROUP BY g.genre, release_month\n        ORDER BY release_month;\n    `;\n    return msg;\n}\n\n// Converte os géneros selecionados para formato SQL: 'pop','rock','edm'\nconst genreList = genres.map(g => `'${g}'`).join(\",\");\n\n// Query filtrada pelos géneros selecionados\nmsg.topic = `\nSELECT \n  strftime('%Y-%m', a.release_date) AS release_month,\n  ROUND(AVG(t.popularity),2) AS avg_popularity,\n  g.genre\nFROM tracks t\nJOIN albums a ON t.album_id = a.id\nJOIN artists ar ON a.artist_id = ar.id\nJOIN artist_genres g ON ar.id = g.id\nWHERE g.genre IN (${genreList})\n  AND t.popularity IS NOT NULL\nGROUP BY g.genre, release_month\nORDER BY release_month;\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 920,
        "wires": [
            [
                "f9520f394ae0d2d5"
            ]
        ]
    },
    {
        "id": "5c89b1c602ae797e",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "fixed",
        "sql": "SELECT \n  g.genre,\n  COUNT(t.id) AS track_count,\n  ROUND(AVG(t.popularity),2) AS avg_popularity\nFROM tracks t\nJOIN albums a ON t.album_id = a.id\nJOIN artists ar ON a.artist_id = ar.id\nJOIN artist_genres g ON ar.id = g.id\nWHERE t.popularity IS NOT NULL\nGROUP BY g.genre\nORDER BY avg_popularity DESC;\n",
        "name": "GetPopularidadeVolume",
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "2da2468016b14042"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "f9520f394ae0d2d5",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "SELECT \n  g.genre, \n  strftime('%Y-%m', a.release_date) AS release_month,\n  ROUND(AVG(t.popularity), 2) AS avg_popularity\nFROM tracks t\nJOIN albums a ON t.album_id = a.id\nJOIN artists ar ON a.artist_id = ar.id\nJOIN artist_genres g ON ar.id = g.id\nWHERE t.popularity IS NOT NULL\nGROUP BY g.genre, release_month\nORDER BY release_month;",
        "name": "AvgGeneroPopularidadeTemporal",
        "x": 1680,
        "y": 920,
        "wires": [
            [
                "ea97c4892a67cd11"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "2da2468016b14042",
        "type": "ui-chart",
        "z": "bf283ad4cf60086f",
        "group": "d0fdf9073f835730",
        "name": "Relação entre Popularidade e Volume",
        "label": "Relação entre Popularidade e Volume",
        "order": 1,
        "chartType": "scatter",
        "category": "genre",
        "categoryType": "property",
        "xAxisLabel": "Volume (Nº de Músicas)",
        "xAxisProperty": "track_count",
        "xAxisPropertyType": "property",
        "xAxisType": "linear",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Popularidade Média",
        "yAxisProperty": "avg_popularity",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "1a3f135b63f1b094",
        "type": "inject",
        "z": "bf283ad4cf60086f",
        "name": "UpdateAutomático",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "c7161e08edbd3021"
            ]
        ]
    },
    {
        "id": "0a8476ece5f1a790",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "fixed",
        "sql": "select id, name, followers,image_url from artists\norder by name asc;",
        "name": "GetArtistas",
        "x": 830,
        "y": 280,
        "wires": [
            [
                "1f46a70ed1a34926"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "1f46a70ed1a34926",
        "type": "ui-table",
        "z": "bf283ad4cf60086f",
        "group": "d6b9849b1523bbd4",
        "name": "Artistas",
        "label": "Artistas",
        "order": 1,
        "width": "0",
        "height": "0",
        "maxrows": "5",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nome",
                "key": "name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Seguidores",
                "key": "followers",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 980,
        "y": 280,
        "wires": [
            [
                "2f2440bc8c0b6f8e",
                "86b28a0eb8751f23"
            ]
        ]
    },
    {
        "id": "2f2440bc8c0b6f8e",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "query_albuns",
        "func": "let artist_id = msg.payload.id;\n\nmsg.topic = \"Select id, name, release_date,image_url from albums where artist_id = '\"+artist_id+\"'\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "e59c659591847048"
            ]
        ]
    },
    {
        "id": "e59c659591847048",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "select id, name, followers from artists\norder by name asc;",
        "name": "GetAlbuns",
        "x": 1330,
        "y": 280,
        "wires": [
            [
                "d26f9267ee312934"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "d26f9267ee312934",
        "type": "ui-table",
        "z": "bf283ad4cf60086f",
        "group": "ab0f4d3228b4e7a1",
        "name": "Albums",
        "label": "Álbuns",
        "order": 1,
        "width": "0",
        "height": "0",
        "maxrows": "5",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nome",
                "key": "name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Data de lançamento",
                "key": "release_date",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1480,
        "y": 280,
        "wires": [
            [
                "861171ba652da814",
                "b16f0dc6f58f6d18"
            ]
        ]
    },
    {
        "id": "86b28a0eb8751f23",
        "type": "ui-template",
        "z": "bf283ad4cf60086f",
        "group": "d6b9849b1523bbd4",
        "page": "",
        "ui": "",
        "name": "ArtistImg",
        "order": 2,
        "width": "4",
        "height": "6",
        "head": "",
        "format": "<v-img v-if=\"msg.payload.image_url\" :src=\"msg.payload.image_url\" contain ></v-img> <v-alert v-else type=\"info\" outlined> Clique numa linha para ver a imagem do artista.</v-alert>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1140,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "861171ba652da814",
        "type": "ui-template",
        "z": "bf283ad4cf60086f",
        "group": "ab0f4d3228b4e7a1",
        "page": "",
        "ui": "",
        "name": "AlbumImg",
        "order": 2,
        "width": "4",
        "height": "6",
        "head": "",
        "format": "<v-img v-if=\"msg.payload.image_url\" :src=\"msg.payload.image_url\" contain ></v-img> <v-alert v-else type=\"info\" outlined> Clique numa linha para ver a imagem do álbum.</v-alert>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1640,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b16f0dc6f58f6d18",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "musicas_query",
        "func": "let album_id = msg.payload.id;\n\nmsg.topic = \"Select id, name, duration_ms from tracks where album_id = '\"+album_id+\"'\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 280,
        "wires": [
            [
                "48d153029377fcac"
            ]
        ]
    },
    {
        "id": "99c4b2719f37348d",
        "type": "ui-table",
        "z": "bf283ad4cf60086f",
        "group": "a4bf936feb75172a",
        "name": "Musicas",
        "label": "Músicas do Álbum",
        "order": 1,
        "width": "0",
        "height": "0",
        "maxrows": "5",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "deselect": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "Nome",
                "key": "name",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Duração (min:ss)",
                "key": "duration",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 1500,
        "y": 140,
        "wires": [
            [
                "4e9c0f88c20e9b34"
            ]
        ]
    },
    {
        "id": "d36bc7993714d5bf",
        "type": "ui-template",
        "z": "bf283ad4cf60086f",
        "group": "a4bf936feb75172a",
        "page": "",
        "ui": "",
        "name": "WidgetSpotify ",
        "order": 2,
        "width": "4",
        "height": "6",
        "head": "",
        "format": "<iframe\n  v-if=\"msg.payload\"\n  :src=\"msg.payload\"\n  style=\"border-radius:12px; width:100%; height:100%; border:0; position:absolute; top:0; left:0;\"\n  allow=\"autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture\"\n  allowfullscreen\n  loading=\"lazy\">\n</iframe>\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1820,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "4e9c0f88c20e9b34",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "url_preview",
        "func": "msg.payload = \"https://open.spotify.com/embed/track/\" + msg.payload.id + \"?utm_source=generator\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 140,
        "wires": [
            [
                "d36bc7993714d5bf"
            ]
        ]
    },
    {
        "id": "48d153029377fcac",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "select id, name, followers from artists\norder by name asc;",
        "name": "GetMusicasAlbum",
        "x": 1870,
        "y": 280,
        "wires": [
            [
                "ee87031807dc6d39"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "59223c9a3a9696b4",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "SELECT\n  CASE \n    WHEN valence < 0.33 THEN 'Baixa'\n    WHEN valence < 0.66 THEN 'Média'\n    ELSE 'Alta'\n  END AS attribute_group,\n  COUNT(*) AS total\nFROM tracks\nGROUP BY attribute_group;\n",
        "name": "GetDadosAtributo",
        "x": 1310,
        "y": 1180,
        "wires": [
            [
                "b86a069a54726d41"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "b85e708c9d160614",
        "type": "ui-chart",
        "z": "bf283ad4cf60086f",
        "group": "fa434e8df39d1e36",
        "name": "Média de Atributo Musical",
        "label": "Média de Atributo Musical",
        "order": 2,
        "chartType": "doughnut",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Número de músicas",
        "xAxisProperty": "label",
        "xAxisPropertyType": "property",
        "xAxisType": "radial",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Popularidade média",
        "yAxisProperty": "value",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "5",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1750,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "b86a069a54726d41",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "calcular_percentagens",
        "func": "// Soma todos os valores para calcular percentagens\nlet totalTracks = msg.payload.reduce((sum, row) => sum + row.total, 0);\n\n// Mapeia para o formato do pie chart com label + percentagem\nmsg.payload = msg.payload.map(row => ({\n    label: `${row.attribute_group} (${((row.total / totalTracks) * 100).toFixed(1)}%)`,\n    value: row.total\n}));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1520,
        "y": 1180,
        "wires": [
            [
                "b85e708c9d160614"
            ]
        ]
    },
    {
        "id": "dbc4072cbda469e6",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "fixed",
        "sql": "SELECT\n  CASE WHEN valence > 0.5 THEN 'Feliz' ELSE 'Triste' END AS mood,\n  COUNT(*) AS total\nFROM tracks\nGROUP BY mood;\n",
        "name": "GetValencia",
        "x": 810,
        "y": 1340,
        "wires": [
            [
                "462909f9683913bc"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "6c95c65bdd3bb3a5",
        "type": "ui-chart",
        "z": "bf283ad4cf60086f",
        "group": "e65461a18ea595ba",
        "name": "Mood Musical",
        "label": "Mood Musical (Feliz vs Triste)",
        "order": 1,
        "chartType": "doughnut",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Número de músicas",
        "xAxisProperty": "label",
        "xAxisPropertyType": "property",
        "xAxisType": "radial",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Popularidade média",
        "yAxisProperty": "value",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1200,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "462909f9683913bc",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "calcular_percentagens",
        "func": "// Soma todos os valores para calcular percentagens\nlet totalTracks = msg.payload.reduce((sum, row) => sum + row.total, 0);\n\n// Mapeia para o formato do pie chart com label + percentagem\nmsg.payload = msg.payload.map(row => ({\n    label: `${row.mood} (${((row.total / totalTracks) * 100).toFixed(1)}%)`,\n    value: row.total\n}));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 1340,
        "wires": [
            [
                "6c95c65bdd3bb3a5"
            ]
        ]
    },
    {
        "id": "d7e241ef3ef3d718",
        "type": "sqlite",
        "z": "bf283ad4cf60086f",
        "mydb": "bfc880c45abbde98",
        "sqlquery": "msg.topic",
        "sql": "SELECT \n    SUBSTR(release_date, 1, 7) AS month,\n    AVG(energy) AS a\nFROM tracks t\nJOIN albums al ON t.album_id = al.id\nGROUP BY month\nORDER BY month;\n",
        "name": "GetAvgAtributo",
        "x": 1300,
        "y": 1240,
        "wires": [
            [
                "1dc586b92e591319"
            ]
        ],
        "icon": "node-red/db.svg"
    },
    {
        "id": "1dc586b92e591319",
        "type": "ui-chart",
        "z": "bf283ad4cf60086f",
        "group": "fa434e8df39d1e36",
        "name": "Tendência de atributo ao longo do tempo",
        "label": "Tendência de atributo ao longo do tempo",
        "order": 3,
        "chartType": "line",
        "category": "",
        "categoryType": "none",
        "xAxisLabel": "Tempo (Ano-Mês)",
        "xAxisProperty": "month",
        "xAxisPropertyType": "property",
        "xAxisType": "category",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Atributo",
        "yAxisProperty": "avg_attribute",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1560,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "49672c95bc1906b9",
        "type": "ui-dropdown",
        "z": "bf283ad4cf60086f",
        "group": "fa434e8df39d1e36",
        "name": "DropdownAtributosMusicais",
        "label": "Filtros",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Valência (Felicidade)",
                "value": "valence",
                "type": "str"
            },
            {
                "label": "Dançabilidade",
                "value": "danceability",
                "type": "str"
            },
            {
                "label": "Volume (Ruído)",
                "value": "loudness",
                "type": "str"
            },
            {
                "label": "Vocalidade",
                "value": "speechiness",
                "type": "str"
            },
            {
                "label": "Acusticidade",
                "value": "acousticness",
                "type": "str"
            },
            {
                "label": "Instrumentalidade",
                "value": "instrumentalness",
                "type": "str"
            },
            {
                "label": "Vivacidade",
                "value": "liveness",
                "type": "str"
            },
            {
                "label": "Energia",
                "value": "energy",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 860,
        "y": 1180,
        "wires": [
            [
                "6f86e7881f1d780f",
                "ae02e54410d9afdb"
            ]
        ]
    },
    {
        "id": "6f86e7881f1d780f",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "gerar_script_sql",
        "func": "// O valor selecionado da dropdown (ex: \"valence\", \"energy\", etc.)\nlet atributo = msg.payload;\n\n// Monta o script SQL dinâmico\nlet sql = `\nSELECT\n  CASE \n    WHEN ${atributo} < 0.33 THEN 'Baixa'\n    WHEN ${atributo} < 0.66 THEN 'Média'\n    ELSE 'Alta'\n  END AS attribute_group,\n  COUNT(*) AS total\nFROM tracks\nGROUP BY attribute_group;\n`;\n\n// Envia o SQL para o próximo nó (SQL node)\nmsg.topic = sql;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1180,
        "wires": [
            [
                "59223c9a3a9696b4"
            ]
        ]
    },
    {
        "id": "ae02e54410d9afdb",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "gerar_script_sql",
        "func": "// O valor selecionado da dropdown (ex: \"valence\", \"energy\", etc.)\nlet atributo = msg.payload;\n\n// Monta o script SQL dinâmico\nlet sql = `\nSELECT\nSUBSTR(release_date, 1, 7) AS month,\n  AVG(${atributo}) AS avg_attribute\nFROM tracks t\nJOIN albums al ON t.album_id = al.id\nGROUP BY month\nORDER BY month\n`;\n\n// Envia o SQL para o próximo nó (SQL node)\nmsg.topic = sql;\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1240,
        "wires": [
            [
                "d7e241ef3ef3d718"
            ]
        ]
    },
    {
        "id": "a4c334ec0802f7b1",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "montar_query",
        "func": "// --- Recebe os géneros selecionados da dropdown ---\nlet genres = msg.payload;\n\n// Garante que é sempre um array (caso o utilizador selecione só um)\nif (!Array.isArray(genres)) {\n    genres = [genres];\n}\n\n// Se nenhum género for selecionado, devolve uma query genérica\nif (genres.length === 0) {\n    node.warn(\"Nenhum género selecionado — mostrando todos.\");\n    msg.topic = `\n        SELECT g.genre,\n               ROUND(AVG(t.popularity),2) AS avg_popularity\n        FROM tracks t\n        JOIN albums a ON t.album_id = a.id\n        JOIN artists ar ON a.artist_id = ar.id\n        JOIN artist_genres g ON ar.id = g.id\n        WHERE t.popularity IS NOT NULL\n        GROUP BY g.genre\n        ORDER BY avg_popularity DESC\n        LIMIT 10;\n    `;\n    return msg;\n}\n\n// Converte o array de géneros para formato SQL: 'pop','rock','edm'\nconst genreList = genres.map(g => `'${g}'`).join(\",\");\n\n// Cria a query filtrada pelos géneros escolhidos\nmsg.topic = `\nSELECT \n    g.genre,\n    ROUND(AVG(t.popularity),2) AS avg_popularity\nFROM tracks t\nJOIN albums a ON t.album_id = a.id\nJOIN artists ar ON a.artist_id = ar.id\nJOIN artist_genres g ON ar.id = g.id\nWHERE g.genre IN (${genreList})\n  AND t.popularity IS NOT NULL\nGROUP BY g.genre\nORDER BY avg_popularity DESC;\n`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 860,
        "wires": [
            [
                "21d86c0afc4ac349"
            ]
        ]
    },
    {
        "id": "ee87031807dc6d39",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "converter_duracao",
        "func": "// Verifica se o payload é um array vindo do nó SQLite\nif (!Array.isArray(msg.payload)) {\n    node.warn(\"Esperava um array vindo do nó SQLite, mas recebi outro formato.\");\n    return msg;\n}\n\n// Função auxiliar para converter ms → min:ss\nfunction formatDuration(ms) {\n    if (ms == null) return null;\n    let totalSeconds = Math.floor(ms / 1000);\n    let minutes = Math.floor(totalSeconds / 60);\n    let seconds = totalSeconds % 60;\n    return `${minutes}:${seconds.toString().padStart(2, '0')}`;\n}\n\n// Mapeia todas as linhas, adicionando a duração formatada\nmsg.payload = msg.payload.map(row => ({\n    ...row,\n    duration: formatDuration(row.duration_ms)\n}));\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 140,
        "wires": [
            [
                "99c4b2719f37348d"
            ]
        ]
    },
    {
        "id": "39233bef12e4151d",
        "type": "ui-dropdown",
        "z": "bf283ad4cf60086f",
        "group": "bb3ec38dd8362023",
        "name": "DropdownArtistasAlbuns",
        "label": "Filtros",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Artistas",
                "value": "artistas",
                "type": "str"
            },
            {
                "label": "Álbums",
                "value": "albuns",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": false,
        "msgTrigger": "onChange",
        "x": 870,
        "y": 500,
        "wires": [
            [
                "e29af8a1174c7db8"
            ]
        ]
    },
    {
        "id": "e46d2fcc059060bb",
        "type": "function",
        "z": "bf283ad4cf60086f",
        "name": "PopularDropdown",
        "func": "msg.options = msg.payload.map(r => ({\n  label: r.genre,\n  value: r.genre\n}));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 880,
        "wires": [
            [
                "bc2d850805c8aecf"
            ]
        ]
    }
]